{% extends "workers/header.html" %}
{% block content %}
    <p><label>First name: </label>{{ instance.first_name }}</p>
    <p><label>Second name: </label>{{ instance.last_name }}</p>
    <p><label>Email: </label>{{ instance.email }}</p>
    <p><label>Phone: </label>{{ instance.phone }}</p>
    {% if instance.is_working %}
        <p>Employee is working</p>
    {% else %}
        <p>Employee is not working</p>
    {% endif %}
    <p><a href="/workers/{{ instance.id }}/edit">Update</a></p>
    <p><a href="/workers/{{ instance.id }}/delete">Delete</a></p>
{% endblock %}
